/* CSS Normalizer */
html { line-height: 1.15; -webkit-text-size-adjust: 100%; } body { margin: 0; } h1 { font-size: 2em; margin: 0.67em 0; } hr { box-sizing: content-box; height: 0; overflow: visible; } pre { font-family: monospace, monospace; font-size: 1em; } a { background-color: transparent; } abbr[title] { border-bottom: none; text-decoration: underline; text-decoration: underline dotted; } b, strong { font-weight: bolder; } code, kbd, samp { font-family: monospace, monospace; font-size: 1em; } small { font-size: 80%; } sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; } sub { bottom: -0.25em; } sup { top: -0.5em; } img { border-style: none; } button, input, optgroup, select, textarea { font-family: inherit; font-size: 100%; line-height: 1.15; margin: 0; } button, input { overflow: visible; } button, select { text-transform: none; } button, [type="button"], [type="reset"], [type="submit"] { -webkit-appearance: button; } button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner { border-style: none; padding: 0; } button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring { outline: 1px dotted ButtonText; } fieldset { padding: 0.35em 0.75em 0.625em; } legend { box-sizing: border-box; color: inherit; display: table; max-width: 100%; padding: 0; white-space: normal; } progress { vertical-align: baseline; } textarea { overflow: auto; } [type="checkbox"], [type="radio"] { box-sizing: border-box; padding: 0; } [type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button { height: auto; } [type="search"] { -webkit-appearance: textfield; outline-offset: -2px; } [type="search"]::-webkit-search-decoration { -webkit-appearance: none; } ::-webkit-file-upload-button { -webkit-appearance: button; font: inherit; } details { display: block; } summary { display: list-item; } template { display: none; } [hidden] { display: none; }

/* CSS Grid System - https://github.com/doppl3r/grix */
.row{display:flex;flex-wrap:wrap}.row>[class*="col-"]{box-sizing:border-box;padding:0 12px;flex-grow:0}.row>.col{box-sizing:border-box;-ms-flex-preferred-size:0;-ms-flex-positive:1;flex:1 0 0;padding:0 12px;width:100%}.row>.col-1-m{width:8.3334%}.row>.col-2-m{width:16.6667%}.row>.col-3-m{width:25%}.row>.col-4-m{width:33.3334%}.row>.col-5-m{width:41.6667%}.row>.col-6-m{width:50%}.row>.col-7-m{width:58.3334%}.row>.col-8-m{width:66.6667%}.row>.col-9-m{width:75%}.row>.col-10-m{width:83.3334%}.row>.col-11-m{width:91.6667%}.row>.col-12-m{width:100%}.row>.col-1{width:8.3334%}.row>.col-2{width:16.6667%}.row>.col-3{width:25%}.row>.col-4{width:33.3334%}.row>.col-5{width:41.6667%}.row>.col-6{width:50%}.row>.col-7{width:58.3334%}.row>.col-8{width:66.6667%}.row>.col-9{width:75%}.row>.col-10{width:83.3334%}.row>.col-11{width:91.6667%}.row>.col-12{width:100%}@media (max-width: 768px){.row>[class*="col-"].col-1-m{width:8.3334%}.row>[class*="col-"].col-2-m{width:16.6667%}.row>[class*="col-"].col-3-m{width:25%}.row>[class*="col-"].col-4-m{width:33.3334%}.row>[class*="col-"].col-5-m{width:41.6667%}.row>[class*="col-"].col-6-m{width:50%}.row>[class*="col-"].col-7-m{width:58.3334%}.row>[class*="col-"].col-8-m{width:66.6667%}.row>[class*="col-"].col-9-m{width:75%}.row>[class*="col-"].col-10-m{width:83.3334%}.row>[class*="col-"].col-11-m{width:91.6667%}.row>[class*="col-"].col-12-m{width:100%}.row>.col-1{width:100%}.row>.col-2{width:100%}.row>.col-3{width:100%}.row>.col-4{width:100%}.row>.col-5{width:100%}.row>.col-6{width:100%}.row>.col-7{width:100%}.row>.col-8{width:100%}.row>.col-9{width:100%}.row>.col-10{width:100%}.row>.col-11{width:100%}.row>.col-12{width:100%}}

/* CSS Global */
*, *:before { box-sizing: border-box; user-select: none; /* transition: all 0.15s ease-in-out; */ }
html { background-color: #f4f4f4; }
body { font-family: 'Roboto-Regular'; animation: fade-in 1s ease-in-out; padding: 120px 12px; }
body > .row { align-items: center; display: flex; justify-content: center; }
h1 { color: #5C5C5C; font-size: 28px; margin: 0 0 12px 0; font-weight: normal; }
p { color: #707070; font-size: 16px; line-height: 21px; }
a { color: inherit; text-decoration: none; }
strong { color: #C37AE5; font-family: 'Roboto-Black'; }
form { display: flex; justify-content: center; flex-wrap: wrap; }
form input { background-color: #eeeeee; border: none; color: #707070; font-size: 16px; padding: 10px; margin: 0 12px 0 0; }

.button { background-color: #C37AE5; border: none; color: #ffffff; display: inline-block; font-size: 16px; padding: 16px 40px; cursor: pointer; position: relative; white-space: nowrap }
.button:hover { background-color: #a666c3; }
.button.free:after { content: 'free'; position: absolute; top: 4px; right: 6px; font-size: 10px; text-transform: uppercase; font-style: italic; }
.button img { display: inline-block; height: 24px; margin: 0 0 0 4px; width: auto; vertical-align: middle; }
.disable-scroll { overflow: hidden; }
.material-icons { vertical-align: middle; }
.hidden { display: none; }
.invisible { opacity: 0; }
.instructions { width: 100%; }
.validation { width: 100%; }
.breathe { animation: breathe 1s ease-in-out infinite alternate; }

/* Sections */
.header { text-align: center; padding-bottom: 64px; }
.header img { max-width: 64px; margin-bottom: 24px }
.header p { max-width: 480px; margin: auto; padding: 0 0 16px; }
.rewards .row { max-width: 560px; margin: auto; padding-bottom: 40px; }
.rewards .row .col-4 { align-items: center; display: flex; justify-content: flex-end; }
.rewards .details { display: flex; align-items: center; }
.rewards .details .icon { color: #ffffff; display: inline-block; filter: drop-shadow(0px 10px 10px rgba(197, 122, 229, 0.25)); position: relative; }
.rewards .details .icon .shape { background-color: #ffffff; clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%); font-family: 'Boxel Icons'; font-size: 24px; height: 80px; position: relative; width: 80px; z-index: 0; }
.rewards .details .icon .shape:before { align-items: center; background-color: #C37AE5; bottom: 0; clip-path: inherit; content: 'v'; display: flex; font-size: 32px; justify-content: center; left: 0; position: absolute; right: 0; transform: scale(0.75); top: 0; z-index: -1; }
.rewards .disabled .details .icon { filter: none; }
.rewards .disabled .details .icon .shape { background-color: #eeeeee; }
.rewards .disabled .details .icon .shape:before { background-color: inherit; color: #cccccc; }
.rewards .disabled .details .icon .value { background-color: #eeeeee; color: #cccccc; }
.rewards .disabled .details .description strong { color: #cccccc; }
.rewards .disabled .details .description span { color: #cccccc; }
.rewards .disabled .button { background-color: #eeeeee; color: #cccccc; pointer-events: none; }
.rewards .disabled .button.free:after { content: ''; }
.rewards .details .icon .value { align-items: center; background-color: #ffffff; bottom: 0px; border-radius: 50%; color: #C37AE5; content: ''; display: flex; height: 32px; font-family: 'Roboto-Black'; font-size: 14px; justify-content: center; position: absolute; right: -8px; width: 32px; }
.rewards .details .description { padding-left: 16px; }
.rewards .details .description strong { color: #5C5C5C; display: block; font-family: 'Roboto-Black'; font-size: 18px; padding-bottom: 8px; }
.rewards .details .description span { color: #707070; display: block; font-size: 16px; }
.rewards .skins .details .icon .shape:before { content: '?'; font-family: 'Roboto-Black'; }
.rewards .downloads .details .icon .shape:before { content: 'v'; }
.rewards .uploads .details .icon .shape:before { content: 'w'; }
.rewards .levels .details .icon .shape:before { content: 'c'; }

/* Loading animation */
.loading:before, .loading:after { z-index: 10; }
.loading:before { content: ''; position: fixed; top: 0; right: 0; bottom: 0; left: 0; background-color: #000; opacity: 0.75; }
.loading:after { content: ''; position: fixed; left: 50%; top: 50%; border: 8px solid rgba(0, 0, 0, 0.5); border-radius: 50%; border-top: 8px solid #C37AE5; width: 24px; height: 24px; animation: spin 2s ease-in-out infinite; margin-left: -12px; margin-top: -12px; }

/* Popup styling */
#popup { display: none; /* Hidden by default */ padding: 64px 16px; position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 999999; text-align: center; }
#popup.visible { display: flex; }
#popup .background { background-color: rgba(61, 69, 67, 0.6); position: fixed; top: 0; right: 0; bottom: 0; left: 0; }
#popup .wrapper { background-color: #fff; max-width: 480px; width: 100%; margin: auto; padding: 64px 24px; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); }
#popup .wrapper.compact { padding: 24px; max-width: 640px; }
#popup .wrapper h1 { font-size: 24px; margin-bottom: 24px; }
#popup .wrapper .btn.close { position: absolute; right: 0; top: 0; padding: 0; color: #777; font-size: 48px; width: 64px; height: 64px; display: flex; align-items: center; justify-content: center; cursor: pointer; }
#popup .step-1 { padding-bottom: 0px; }
#popup .step-2 { padding-bottom: 0px; }
#popup .step-3 { display: none; }
#popup .step-3 h1 { margin: 0; }
#popup .disabled { opacity: 0.25; pointer-events: none; }
#popup .button { font-size: 18px; }
#popup.verified .step-1 { display: none; }
#popup.verified .step-2 { display: none; }
#popup.verified .step-3 { display: block; }
#popup .youtube-container { cursor: pointer; display: block; position: relative; padding-bottom: 56.25%; background-position: center; background-size: contain; background-repeat: no-repeat; background-color: rgba(0, 0, 0, 1); }
#popup .youtube-container iframe { pointer-events: none; position: absolute; top: 0; left: 0; right: 0; bottom: 0; width: 100%; height: 100%; }


/* Fonts */
@font-face { font-family: 'Roboto-Black'; src: url("../fonts/Roboto-Black.eot"); src: url("../fonts/Roboto-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Black.woff") format("woff"), url("../fonts/Roboto-Black.ttf") format("truetype"), url("../fonts/Roboto-Black.svg") format("svg"); }
@font-face { font-family: 'Roboto-Regular'; src: url("../fonts/Roboto-Regular.eot"); src: url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("truetype"), url("../fonts/Roboto-Regular.svg") format("svg"); }

/* Animations */
@keyframes throb { 0% { transform: scale(1); } 50% { transform: scale(0.75); } 100% { transform: scale(1); }}
@keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
@keyframes breathe { 0% { transform: scale(1); } 100% { transform: scale(0.95); } }
@keyframes spin { 0% { transform: rotate(0deg); } 100% { transform: rotate(1440deg); }}