.macvg-btn,
.macvg-close,
.macvg-message,
.macvg-pop {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.macvg-wrap {
  width: 100%;
  height: 100vh;
  background-color: rgba(14, 14, 14, 0.9);
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  z-index: 1000000;
}

.macvg-close {
  display: none;
}

.macvg-message {
  width: 40%;
  margin-inline: 30%;
  background-color: black;
  color: white;
  border-radius: 30px;
  position: relative;
  padding-block: 20px;
}

.macvg-message h1 {
  margin: 0;
  text-align: center;
  padding-bottom: 20px;
}

.macvg-message p, .macvg-message h2, .macvg-message ul {
  width: 80%;
  margin-inline: 10%;
  max-height: 300px;
  text-align: left;
  line-height: 25px;
  font-size: 18px;
  overflow: auto;
}

.macvg-message ul {
  padding-left: 20px;
}

.macvg-message h2 {
  font-size: 23px;
  margin-block: 15px;
}

.macvg-message ul {

}

.macvg-message p a {
  color: white;
}

.macvg-message p::-webkit-scrollbar {
  width: 0.4vw;
}

.macvg-message p::-webkit-scrollbar-thumb {
  background-color: white;
  border: 0.05vw solid black;
  border-radius: 2px;
}

.macvg-btn {
  width: 2vw;
  height: 2vw;
  font-size: 20px;
  margin-bottom: 10px;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 25px;
  border-radius: 3vw;
  right: 25px;
  transition: transform 0.3s ease;
  background-color: transparent;
}
.macvg-btn:hover {
  transform: scale(1.15);
}
