#loading-spinner-container {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,1);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner-fadeout {
    opacity: 0;
    transition: opacity 0.15s ease-out;
}

.loading-spinner {
    width: 64px;
    height: 64px;
}

.loading-spinner div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 32px 32px;
}

.loading-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
    margin: -3px 0 0 -3px;
}

.loading-spinner div:nth-child(1) {
    animation-delay: -0.036s;
}

.loading-spinner div:nth-child(1):after {
    top: 50px;
    left: 50px;
}

.loading-spinner div:nth-child(2) {
    animation-delay: -0.072s;
}

.loading-spinner div:nth-child(2):after {
    top: 54px;
    left: 45px;
}

.loading-spinner div:nth-child(3) {
    animation-delay: -0.108s;
}

.loading-spinner div:nth-child(3):after {
    top: 57px;
    left: 39px;
}

.loading-spinner div:nth-child(4) {
    animation-delay: -0.144s;
}

.loading-spinner div:nth-child(4):after {
    top: 58px;
    left: 32px;
}

.loading-spinner div:nth-child(5) {
    animation-delay: -0.18s;
}

.loading-spinner div:nth-child(5):after {
    top: 57px;
    left: 25px;
}

.loading-spinner div:nth-child(6) {
    animation-delay: -0.216s;
}

.loading-spinner div:nth-child(6):after {
    top: 54px;
    left: 19px;
}

.loading-spinner div:nth-child(7) {
    animation-delay: -0.252s;
}

.loading-spinner div:nth-child(7):after {
    top: 50px;
    left: 14px;
}

.loading-spinner div:nth-child(8) {
    animation-delay: -0.288s;
}

.loading-spinner div:nth-child(8):after {
    top: 45px;
    left: 10px;
}

@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
