.game-page {
  display: flex;
  justify-content: center;
  padding-block: 20px;
  padding-inline: 100px;
  gap: 30px;
}

.game-content {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.game-frame {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 30px;
}

.game-frame iframe {
  background-color: var(--primary-bg);
  width: 100%;
  border-radius: 5px 5px 0px 0px;
  height: 35vw;
  margin: 0;
  padding: 0;
  border: none;
}

.game-frame:fullscreen iframe {
  width: 100vw;
  height: calc(100vh - 45px);
}

.toolbar {
  background-color: var(--secondary-bg);
  height: 45px;
  border-radius: 0px 0px 5px 5px;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 30px;
}

.toolbar-icons {
  display: flex;
  gap: 30px;
}

.toolbar-icon {
  width: 20px;
  transition: transform 0.25s ease;
  cursor: pointer;
  filter: var(--invert);
}

.toolbar-icon:hover {
  transform: scale(1.2);
}

.game-name img {
  background-color: white;
}

.game-name {
  color: var(--primary-text);
  display: flex;
  align-items: center;
  gap: 10px;
}

.game-name img {
  width: 33px;
  border-radius: 5px;
}

.game-name h2 {
  font-size: 18px;
}

.game-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.game-info-section {
  background-color: var(--secondary-bg);
  border-radius: 5px;
  padding: 15px 30px;
  color: var(--secondary-text);
  font-size: 18px;
  line-height: 28px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.game-info-section h3 {
  color: var(--primary-text);
}

.game-info-section ul {
  list-style-position: inside;
  list-style-type: square;
}

.game-info-section ul li a {
  color: var(--primary-text);
}

.right {
  flex: 1;
}

@media (max-width: 800px) {
  .game-page {
    flex-direction: column;
    padding-inline: 20px;
  }

  .game-frame iframe {
    height: 45vw;
  }
}