@font-face {
    font-family: 'Souses';
    src:
        url('../assets/fonts/web/Souses-Bold.woff2') format('woff2'),
        url('../assets/fonts/web/Souses-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Souses';
    src:
        url('../assets/fonts/web/Souses-Black.woff2') format('woff2'),
        url('../assets/fonts/web/Souses-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}


