html,
body {
    touch-action: none;
}

body {
    background-color: black;
    margin: 0;
    font-family: Souses, serif;
}

html,
body,
canvas {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

#rotate {
    display: none;
    position: fixed;
    background-color: black;
    z-index: 999;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#rotate > svg {
    display: block;
    fill: white;
    width: 33%;
    height: 33%;
}

#canvas-container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #EDAA64;
}

.sidebar {
    display: flex;
    flex: 1 1 auto;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#stats {
    position: fixed;
    left: 0;
    bottom: 0;
    color: white;
    font-family: monospace;
    background-color: black;
    font-size: 10pt;
    padding: 3pt 7pt;
    border-top-right-radius: 6pt;
}

#editor-panels {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    overflow-y: auto;
    transform-origin: top right;
    padding: 10px;
    visibility: hidden;
}

#editor-panels > div {
    margin-bottom: 10px;
}

.disable-panel-input {
    pointer-events: none;
    cursor: not-allowed !important;
    opacity: 66%;
}
