/* Format ad to fit in iFrame */
html {
    width: 100%;
    height: 100%;
    position: fixed;
}
/* Hide Headers and Privacy from ad */
#vungle-header, #vungle-footer, #privacy-wrapper, #bdgrzdjf-privacy-wrapper {
	display: none !important;
}