:root {
  --primary-bg: rgb(15, 15, 15);
  --secondary-bg: rgb(30, 30, 30);
  --primary-shadow: rgb(120, 120, 120);
  --primary-shadow-transparent: rgb(50, 50, 50, 0.6);
  --primary-text: white;
  --secondary-text: rgb(200, 200, 200);
  --primary-border: rgb(40, 40, 40);
  --primary-color: rgb(225, 139, 9);
  --secondary-color: rgb(135, 224, 19);
  --invert: invert(0);
}

.light {
  --primary-bg: rgb(240, 240, 240);
  --secondary-bg: rgb(215, 215, 215);
  --primary-shadow: rgb(135, 135, 135);
  --primary-shadow-transparent: rgb(135, 135, 135, 0.6);
  --primary-text: black;
  --secondary-text: rgb(55, 55, 55);
  --primary-border: rgb(200, 200, 200);
  --primary-color: rgb(225, 139, 9);
  --secondary-color: rgb(135, 224, 19);
  --invert: invert(1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 0.3s ease;
}

body {
  background-color: var(--primary-bg);
}

.nav {
  display: flex;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid var(--primary-border);
  padding-inline: 100px;
  height: 70px;
  z-index: 1000;
  position: sticky;
  top: 0;
  background-color: var(--primary-bg);
  backdrop-filter: blur(5px);
}

.nav-logo,
.footer-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--primary-text);
  font-size: 20px;
  text-decoration: none;
  transition: text-shadow 0.3s ease;
  font-family: "Cal Sans", sans-serif;
  padding-right: 20px;
  padding-block: 10px;
}

.footer-logo {
  padding-top: 0;
}

.nav-logo img,
.footer-logo img {
  width: 40px;
  height: 40px;
}

.nav-logo:hover {
  text-shadow: 0px 0px 10px var(--primary-shadow);
}

.nav-search {
  background-color: var(--secondary-bg);
  border: none;
  border-radius: 5px;
  min-width: 50px;
  padding: 8px 20px;
  outline: none;
  color: var(--primary-text);
  font-size: 18px;
  flex: 1;
  margin-right: 10px;
}

.nav-link {
  color: var(--secondary-text);
  text-decoration: none;
  font-size: 17px;
  transition: color 0.3s ease;
  padding: 10px;
}

.nav-link:hover {
  color: var(--primary-color);
}

.nav-img {
  width: 25px;
  height: 25px;
  cursor: pointer;
  margin-inline: 10px;
  filter: var(--invert);
}

.wrap {
  scrollbar-gutter: stable;
}

.content {
  padding-inline: 100px;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  padding-block: 50px;
}

.hero-title {
  background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
  background-clip: text;
  color: transparent;
  font-size: 40px;
  text-align: center;
}

.hero-description {
  color: var(--secondary-text);
  font-size: 20px;
  text-align: center;
}

.hero-search {
  border: 2px solid var(--primary-border);
  border-radius: 5px;
  width: 50%;
  display: flex;
  align-items: center;
}

.hero-search-bar {
  background-color: transparent;
  outline: none;
  border: none;
  color: var(--primary-text);
  font-size: 18px;
  padding-inline: 20px;
  width: 100%;
  padding-block: 15px;
  flex: 1;
}

.hero-search-img {
  width: 40px;
  height: 40px;
  padding: 8px;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

.hero-search img {
  filter: var(--invert);
  height: 24px;
  width: 24px;
}

.hero-search-img:hover {
  background-color: var(--secondary-bg);
}

.hero-filters {
  width: 50%;
  display: flex;
  gap: 30px;
}

.filter {
  height: 46px;
  font-size: 18px;
  color: var(--primary-text);
  font-weight: bold;
  cursor: pointer;
  width: 45%;
  flex-direction: column;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-bg);
  border: none;
  border-radius: 5px;
}

.direction {
  width: 10%;
  transition: transform 0.3s ease;
}

.direction img {
  width: 25px;
  filter: var(--invert);
}

.direction-flip {
  transform: rotateX(180deg);
}

.label {
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-bg);
}

.filter-list {
  background-color: var(--secondary-bg);
  width: 100%;
  position: absolute;
  top: 60px;
  z-index: 1000;
  border-radius: 5px;
  list-style-type: none;
  text-align: center;
  padding: 5px;
  transition: opacity 0.15s ease;
}

.filter-item {
  padding-block: 10px;
  margin-bottom: 5px;
  border-radius: 3px;
  transition: background-color 0.2s ease;
}

.filter-item:last-of-type {
  margin-bottom: 0;
}

.filter-item:hover {
  background-color: var(--primary-bg);
}

.favorites-container {
  border: 2px solid var(--primary-border);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 30px;
  gap: 20px;
  border-radius: 5px;
  margin-bottom: 50px;
}

.favorites-container h2 {
  color: var(--primary-text);
}

.favorites-delete {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 5px;
  right: 10px;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  place-items: center;
}

.favorites-delete img {
  filter: var(--invert);
}

.favorites-delete:hover {
  background-color: var(--secondary-bg);
}

.favorites-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px 13px;
  padding-bottom: 10px;
}

.ad-container {
  display: flex;
  justify-content: center;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: 20px;
  position: relative;
  border: 1px solid gray;
  margin-bottom: 30px;
  border-radius: 5px;
}

.ad-container::after {
  content: "ADVERTISEMENT";
  color: gray;
  position: absolute;
  text-align: center;
  top: 140px;
  font-size: 13px;
  text-align: center;
}

.ad-container ins {
  height: 100%;
  width: 100%;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.games-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 50px;
  gap: 10px 13px;
}

.games-link {
  color: var(--primary-text);
}

.games-centered {
  justify-content: center;
}

.game-card {
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: end;
  font-size: 14px;
  width: 110px;
  background-position: center center;
  background-color: gray;
  color: white;
  padding-inline: 10px;
  font-weight: bold;
  border: 1px solid var(--primary-border);
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
  height: 110px;
  padding-bottom: 10px;
  background-repeat: no-repeat;
  background-size: 100%;
  transform: scale(1);
  overflow: hidden;
  position: relative;
  transition: all 0.4s !important;
}

.game-card:hover {
  background-size: 110%;
  transform: scale(1.07) translateY(-3px);
}

.footer {
  border-top: 2px solid var(--primary-border);
  padding: 50px 100px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 20px;
}

.footer-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}

.footer-copy,
.footer-copy a {
  color: var(--secondary-text);
  font-size: 14px;
}

.footer-title {
  color: var(--secondary-text);
  font-size: 16px;
  margin-bottom: 10px;
}

.footer-link {
  color: var(--secondary-text);
  text-decoration: none;
  font-size: 14px;
}

.footer-link:hover {
  text-decoration: underline;
}

.footer-social {
  display: flex;
  gap: 20px;
}

.footer-icon img {
  width: 25px;
  height: 25px;
  cursor: pointer;
  filter: var(--invert);
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20000;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-shadow-transparent);
  backdrop-filter: blur(5px);
}

.popup-block {
  background-color: var(--primary-bg);
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  align-items: center;
  padding: 30px;
  gap: 30px;
  width: 450px;
}

.popup-title {
  color: var(--primary-text);
  text-align: center;
  font-size: 25px;
}

.popup-description {
  color: var(--secondary-text);
  text-align: center;
  line-height: 25px;
  font-size: 18px;
}

.popup-close {
  background-color: var(--secondary-bg);
  color: var(--primary-text);
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px 30px;
  border: none;
  cursor: pointer;
}

.popup-close:hover {
  background-color: var(--primary-border);
}

@media (max-width: 750px) {
  .nav {
    padding-inline: 20px;
    gap: 0px;
  }

  .nav-link {
    padding: 10px;
  }

  .content {
    padding-inline: 20px;
  }

  .hero-title {
    font-size: 30px;
  }

  .footer {
    padding-inline: 10px;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondary-text);
  border-radius: 10px;
  border: 2px solid var(--primary-bg);
}
